section {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  align-items: baseline;
  gap: 2rem;
  * h1 {
    font-family: var(--font-syne);
    font-weight: 700;
    font-size: 3rem;
    position: absolute;
    top: -5rem;
    right: 0;
  }
  * h2 {
    font-family: var(--font-syne);
    font-weight: 800;
    font-size: 2.81rem;
  }
  * h3 {
    font-family: var(--font-overpass);
    font-size: 23px;
    font-weight: 400;
    color: var(--clr-primary);
  }
  * p {
    font-family: var(--font-overpass);
    font-size: 16px;
    font-weight: 400;
    max-width: 40ch;
  }
  > .images-wrapper {
    position: relative;
    > .images-border {
      position: absolute;
      inset: 0;
      outline: 4px solid var(--clr-dark);
      display: flex;
      align-items: center;
      justify-content: end;
      > div {
        border-radius: 100%;
        background-color: var(--clr-dark);
        transform: translateX(40px);
        > img {
          padding: 16px;
          transform: rotate(135deg);
        }
      }
    }
  }
  &.mirror-project {
    > .images-wrapper {
      > .images-border {
        justify-content: left;
        > div {
          transform: translateX(-40px);
        }
      }
    }
  }
}

.project-info {
  position: relative;
  * {
    margin-top: 2rem;
  }
  > a {
    > button {
      background-color: transparent;
      font-size: 23px;
      font-weight: 400;
      font-family: var(--font-overpass);
      padding: 0.6em 2em;
      margin-right: 2rem;
      border: 4px solid black;
      cursor: pointer;
    }
  }
}

.mirror-project {
  flex-direction: column;
  align-items: end !important;
  * h1 {
    left: 0 !important;
    right: unset;
  }
  * .project-info {
    text-align: end;
  }
}
