section {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  position: relative;
  justify-content: space-between;
  * h1 {
    font-family: var(--font-syne);
    font-weight: 700;
    font-size: 3rem;
    position: absolute;
    top: -3rem;
    right: 0;
  }
  * h2 {
    font-family: var(--font-syne);
    font-weight: 800;
    font-size: 2.81rem;
  }
  * h3 {
    font-family: var(--font-overpass);
    font-size: 23px;
    font-weight: 400;
    color: var(--clr-primary);
  }
  * p {
    font-family: var(--font-overpass);
    font-size: 16px;
    font-weight: 400;
    max-width: 40ch;
  }
  * img {
    filter: grayscale(1);
  }
  &:hover {
    .project-info {
      display: block !important;
    }
    * img {
      filter: grayscale(0);
    }
    > .images-wrapper {
      position: relative;
      > .images-border {
        position: absolute;
        inset: 0;
        outline: 4px solid var(--clr-dark);
        animation: transformBorderRight 0.1s linear;
        animation-fill-mode: forwards;
        display: flex !important;
        align-items: center;
        justify-content: end;
        > div {
          border-radius: 100%;
          background-color: var(--clr-dark);
          transform: translateX(40px);
          > img {
            padding: 16px;
            transform: rotate(135deg);
            animation: rotateArrowRight 0.1s linear;
            animation-fill-mode: forwards;
          }
        }
      }
    }
    &.mirror-project {
      > .images-wrapper {
        > .images-border {
          animation: transformBorderLeft 0.1s linear;
          animation-fill-mode: forwards;
          justify-content: left;
          > div {
            transform: translateX(-40px);
            > img {
              animation: rotateArrowLeft 0.1s linear;
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
  }
}

.project-info {
  animation: textOutRight 0.2s linear;
  animation-fill-mode: forwards;
  position: relative;
  display: none;
  > * {
    margin-top: 2rem;
  }
  > button {
    background-color: transparent;
    font-size: 23px;
    font-weight: 400;
    font-family: var(--font-overpass);
    padding: 0.6em 2em;
    margin-right: 2rem;
    border: 4px solid black;
    cursor: pointer;
  }
}

.mirror-project {
  flex-direction: row-reverse;
  * h1 {
    left: 0 !important;
    right: unset;
  }
  * .project-info {
    animation: textOutLeft 0.2s linear;
    animation-fill-mode: forwards;
  }
}

@keyframes textOutRight {
  0% {
    transform: translateX(-200%);
    z-index: -1;
  }
  100% {
    z-index: 0;
    transform: translateX(0%);
  }
}

@keyframes textOutLeft {
  0% {
    transform: translateX(200%);
    z-index: -1;
  }
  100% {
    z-index: 0;
    transform: translateX(0%);
  }
}

@keyframes rotateArrowRight {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes rotateArrowLeft {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(250deg);
  }
}

@keyframes transformBorderRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2rem, 2rem);
  }
}

@keyframes transformBorderLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2rem, 2rem);
  }
}
