section {
  min-height: calc(100vh - 8.625rem - 2rem - 4rem - 1rem - 33px);
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    display: grid;
    max-width: calc(90rem + (2 * 6.25rem));
    font-family: var(--font-syne);
    font-weight: 700;
    font-size: 6rem;
    gap: 5rem;
    cursor: pointer;
    > a {
      all: unset;
    }
  }
}
