section {
  min-height: calc(100vh - 8.625rem - 2rem - 4rem - 1rem - 33px);
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    display: grid;
    max-width: calc(90rem + (2 * 6.25rem));
    font-family: var(--font-syne);
    font-weight: 700;
    font-size: 6rem;
    gap: 5rem;
    cursor: pointer;
    > div {
      > a {
        all: unset;
        position: relative;
        z-index: 10;
      }
      padding: 1rem;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        &::before {
          content: "";
          position: absolute;
          width: 200%;
          height: 50%;
          background-color: var(--clr-dark);
          animation: animateTOC 3s linear infinite;
        }
        &::after {
          content: "";
          position: absolute;
          inset: 4px;
          background-color: var(--clr-cream);
        }
      }
    }
  }
}

@keyframes animateTOC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
