<section>
    <div>
        <h1>Say Hi!</h1>
        <div class="form">
            <h3>Want to discuss a new project?</h3>
            <h4>Say hello! let's discuss your ideas and make it happen</h4>
            <form class="angularM-form">
                <mat-form-field class="angularM-full-width" appearance="outline">
                    <mat-label>Your name</mat-label>
                    <input type="text" matInput [formControl]="nameFormControl">
                    @if (nameFormControl.hasError('required')) {
                    <mat-error>Name is required</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="angularM-full-width" appearance="outline">
                    <mat-label>Your email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required') || emailFormControl.hasError('pattern')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                    <mat-error>Email is required</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="angularM-full-width" appearance="outline">
                    <mat-label>Your message</mat-label>
                    <textarea class="text-area-contact" maxlength="512" #message type="text" matInput
                        [formControl]="messageFormControl"></textarea>
                    <mat-hint class="char-length" align="end">{{message.value.length}} / 512</mat-hint>
                    @if (messageFormControl.hasError('required')) {
                    <mat-error>Your message is empty</mat-error>
                    }
                </mat-form-field>
            </form>
            <button (click)="sendMessage()" [disabled]="!(nameFormControl.valid && emailFormControl.valid && messageFormControl.valid)">
                Send message
            </button>
        </div>
    </div>
</section>