<section>
    <h1>About me</h1>
    <div class="about-me-under-header">
        <div class="about-me-left">
            <p>
                I am a Front-end developer based in Aachen, Germany. I enjoy helping designers and companies bring
                their ideas into real life. I am looking forward to continuing my developer career with a job in a
                junior web developer position.
            </p>
            <p>
                If you think I’d be a good match for your projects, contact me!
            </p>
            <div class="lets-talk-btn-under-header">
                <button>Let's talk</button>
            </div>
        </div>
        <div class="about-me-right">
            <img src="./assets/images/profilePic.jpg" alt="profile pic">
            <img src="./assets/images/arrowLeftBottom.svg">
        </div>
    </div>
</section>