section {
  margin-top: 8rem;
  > h1 {
    font-size: 4.875rem;
    font-family: var(--font-syne);
    font-weight: 800;
    &:hover {
      color: var(--clr-primary);
    }
  }
}

.about-me-under-header {
  display: flex;
  justify-content: space-between;
  margin-top: 3.25rem;
}

.about-me-left {
  font-family: var(--font-overpass);
  font-size: 23px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  > p {
    max-width: 40ch;
  }
}

.lets-talk-btn-under-header {
  text-align: center;
  > button {
    font-family: var(--font-overpass);
    font-size: 23px;
    background-color: transparent;
    border: 4px solid black;
    padding: 0.87em 2.609em;
    margin-top: 5rem;
    cursor: pointer;
  }
}

.about-me-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  > img {
    &:first-child {
      max-width: 60%;
      height: auto;
      float: right;
    }

    &:nth-child(2) {
      margin-right: 5rem;
      margin-top: 5rem;
    }
  }
}
