<section data-aos="fade-up">
    <h1>{{"aboutMeHeader" | translate}}</h1>
    <div class="about-me-under-header">
        <div class="about-me-left">
            <p>{{"aboutMeText" | translate}}</p>
            <p>{{"aboutMeSecond" | translate}}</p>
            <div class="lets-talk-btn-under-header">
                <a href="#contactMe">
                    <button>{{"aboutMeButton" | translate}}</button>
                </a>
            </div>
        </div>
        <div class="about-me-right">
            <img width="958" height="1386" src="./assets/images/profilePic.jpg" alt="profile pic">
            <img width="183" height="183" src="./assets/images/arrowLeftBottom.svg">
        </div>
    </div>
</section>