section {
  min-height: calc(100vh - 8.625rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9rem;
  > span {
    font-family: var(--font-syne);
    font-size: 8rem;
    font-weight: 800;
    line-height: 0.8;
  }
  > div {
    display: flex;
    > img {
      max-width: 40rem;
    }
    > p {
      margin-left: 1rem;
      margin-top: 1rem;
      color: var(--clr-primary);
      font-family: var(--font-overpass);
      font-size: 3rem;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}

.under-main-name {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: var(--font-overpass);
  font-size: 23px;
  > a {
    all: unset;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    &:hover {
      color: var(--clr-primary);
    }
  }
  > div {
    > a {
      > div {
        min-height: 100px;
        position: relative;
        overflow: hidden;
        > img {
          position: absolute;
          top: -100%;
          animation: arrowAnimation 2s linear infinite;
        }
      }
    }
  }
}

.landing-page-button {
  display: none;
  text-align: center;
  > a {
    > button {
      font-family: var(--font-overpass);
      font-weight: 400;
      font-size: 23px;
      background-color: transparent;
      border: 4px solid black;
      cursor: pointer;
      padding: 0.87rem 1.739rem;
    }
  }
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(220%);
  }
}
