<section>
    <div class="main-name">
        <span>Frontend</span>
        <span>Developer</span>
        <div class="line-and-name">
            <img src="./assets/images/nameLine.svg" alt="">
            <p>Emre Göktepe</p>
        </div>
    </div>
    <div class="landing-page-button">
        <a href="#contactMe">
            <button>Send a message</button>
        </a>
    </div>
    <div class="under-main-name">
        <a href="mailto:e.goektepe@googlemail.com">
            contact&#64;emre-goektepe.com
        </a>
        <div>
            <div>
                <img src="./assets/images/arrowDown.svg" alt="">
            </div>
            <p>Scroll</p>
            <p>Down</p>
        </div>
    </div>
</section>