section {
  margin-top: -1px;
  background-color: var(--clr-dark);
  > div {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6.25rem;
    margin: 0 auto;
    max-width: calc(90rem + (2 * 6.25rem));
  }
}

.footer-left {
  display: grid;
  gap: 1rem;
  > a {
    > img {
      height: 4rem;
      filter: invert(98%) sepia(78%) saturate(314%) hue-rotate(25deg)
        brightness(113%) contrast(110%);
      // cursor: pointer;
    }
  }
  > p {
    color: var(--clr-cream);
    font-size: 23px;
    font-weight: 400;
    font-family: var(--font-poppins);
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  > div {
    display: flex;
    gap: 2rem;
    > a {
      > img {
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          transform: translateY(-1rem);
        }
      }
    }
  }
  > a {
    > span {
      position: relative;
      z-index: 9;
    }
    all: unset;
    overflow: hidden;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-overpass);
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-cream);
    cursor: pointer;
    &:hover {
      &::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 50%;
        background-color: var(--clr-cream);
        animation: animatePP 2s linear infinite;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: var(--clr-dark);
        inset: 1px;
      }
    }
  }
}

@keyframes animatePP {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
