<section>
    <div>
        <div class="footer-left">
            <a href="#top">
                <img (click)="closeMenu()" src="./assets/images/logo.png" alt="">
            </a>
            <p>© Emre Göktepe 2024</p>
        </div>
        <div class="footer-right">
            <div>
                <a target="_blank" href="https://github.com/emogoektepe">
                    <img src="./assets/images/githubLogo.svg" alt="">
                </a>
                <a href="mailto:contact@emre-goektepe.com">
                    <img src="./assets/images/mailLogo.svg" alt="">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/emre-g%C3%B6ktepe/">
                    <img src="./assets/images/linkedinLogo.svg" alt="">
                </a>
            </div>
            <a routerLink="/privacy-policy" (click)="closeMenu()" class="privacy-policy-animation">
                <span>
                    Privacy Policy
                </span>
            </a>
        </div>
    </div>
</section>