<section>
    <div>
        <div class="footer-left">
            <img src="./assets/images/logo.png" alt="">
            <p>© Emre Göktepe 2024</p>
        </div>
        <div class="footer-right">
            <div>
                <img src="./assets/images/githubLogo.svg" alt="">
                <img src="./assets/images/mailLogo.svg" alt="">
                <img src="./assets/images/linkedinLogo.svg" alt="">
            </div>
            <span>Legal notice</span>
        </div>
    </div>
</section>