<section>
    <h1>My Skills</h1>
    <div class="skills-grid">
        <div><img src="./assets/images/angular.svg" alt=""><p>Angular</p></div>
        <div><img src="./assets/images/typescript.svg" alt=""><p>Typescript</p></div>
        <div><img src="./assets/images/javascript.svg" alt=""><p>JavaScript</p></div>
        <div><img src="./assets/images/html.svg" alt=""><p>HTML</p></div>
        <div><img src="./assets/images/css.svg" alt=""><p>CSS</p></div>
        <div><img src="./assets/images/firebase.svg" alt=""><p>Firebase</p></div>
        <div><img src="./assets/images/git.svg" alt=""><p>Git</p></div>
        <div><img src="./assets/images/scrum.svg" alt=""><p>Scrum</p></div>
        <div><img src="./assets/images/api.svg" alt=""><p>Rest-Api</p></div>
        <div><img src="./assets/images/materialdesign.svg" alt=""><p>Material Design</p></div>
    </div>
</section>