*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  padding: 0 6.25rem;
  margin: 0 auto;
  max-width: calc(90rem + (2 * 6.25rem));
  background-color: var(--clr-cream);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (max-width: 1430px) {
  html {
    font-size: 0.8rem;
  }
  .skills-grid {
    --column-count: 3;
  }
  .grid-placeholder {
    display: block !important;
  }
}
