:root {
  --clr-cream: #fffcf3;
  --clr-dark: #000000;
  --clr-primary: #5988ff;
  --clr-success: #70e61c;
  --clr-danger: #e61c40;
  --font-overpass: "Overpass";
  --font-poppins: "Poppins";
  --font-syne: "Syne";
  --column-count: 5;
}
