:root {
    --clr-cream: #FFFCF3;
    --clr-dark: #000000;
    --clr-primary: #5988FF;
    --clr-success: #70E61C;
    --clr-danger: #E61C40;
    --font-overpass: 'Overpass';
    --font-poppins: 'Poppins';
    --font-syne: 'Syne';
}